---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Carlos Escobar" description="About Carlos Escobar Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Acerca de mi"
				tagline="Lea a continuación para obtener más información sobre mí y mi trayectoria."
			>
				<img
					width="1000"
					height="873"
					src="/assets/Tecnologo.jpeg"
					alt="Carlos Escobar at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Soy un desarrollador de software apasionado por la tecnología y la resolución de problemas. Mi trayectoria
						profesional incluye experiencia en lenguajes como <a href="https://laravel.com/">laravel</a>, <a href="https://www.javascript.com/">JavaScript</a> y <a href="https://es.react.dev/">React</a>.
						Me encanta construir aplicaciones que no solo son funcionales, sino también intuitivas y amigables para el usuario.
					</p>
					<p>
						He trabajado en diversos proyectos que abarcan desde aplicaciones web hasta sistemas de backend (un poco) pero mas que todo en frontend. Mi enfoque
						se centra en utilizar buenas prácticas de desarrollo, como pruebas automatizadas y control de versiones,
						para garantizar la calidad del código y la satisfacción del cliente.
					</p>
					<p>
						Estoy constantemente buscando nuevas tecnologías y metodologías, como el desarrollo ágil, para mejorar mi
						habilidad y adaptarme a las tendencias del mercado. Mi objetivo es seguir creciendo profesionalmente y
						contribuir a proyectos innovadores que hagan una diferencia.
					</p>
				</div>

			</section>
			<section>
				<h2 class="section-title">Educación</h2>
				<div class="content">
					<p>Tecnologo en Desarrollo De Software</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<div style="display: flex; flex-wrap: wrap;">
					  <div style="flex: 1; min-width: 150px;">
						<p>Lenguajes de programación</p>
						<p>Control de versiones (Git)</p>
						<p>Estructuras de datos y algoritmos</p>
						<p>Bases de datos</p>
					  </div>
					  <div style="flex: 1; min-width: 150px;">
						<p>Desarrollo web</p>
						<p>Pruebas y depuración</p>
						<p>Arquitectura de software</p>						
					  </div>
					  <div style="flex: 1; min-width: 150px;">
						<p>Metodologías ágiles</p>
						<p>Resolución de problemas</p>
						<p>Comunicación</p>
						<p>Trabajo en equipo</p>
					  </div>
					  <div style="flex: 1; min-width: 150px;">
						<p>Gestión del tiempo</p>
						<p>Adaptabilidad</p>
						<p>Atención al detalle</p>
						<p>Pensamiento crítico</p>
					  </div>
					</div>
				  </div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
